<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div><a href="" class="navbar-brand app-root">{{title}}</a></div>
      <ul class="navbar-nav">
          <li><a *ngIf="!authService.isUserLoggedIn()" routerLink="login" class="nav-link">Login</a></li>
          <li><a *ngIf="!authService.isUserLoggedIn()" routerLink="register" class="nav-link">Register</a></li>
          <li><a *ngIf="authService.isUserLoggedIn()" routerLink="tweets/{{this.authService.getUser()}}" class="nav-link">Tweets</a></li>
          <li><a *ngIf="authService.isUserLoggedIn()" routerLink="users" class="nav-link">All Users</a></li>
          <li><a *ngIf="authService.isUserLoggedIn()" routerLink="profile/{{this.authService.getUser()}}" class="nav-link">My Profile</a></li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
          <li><a *ngIf="authService.isUserLoggedIn()" routerLink="logout" class="nav-link">Logout</a></li>
      </ul>
  </nav>

</header>

