<h1>Change Password</h1>
<div class="container">
    <div *ngIf="errorBool" class="alert alert-danger">Invalid login id. Please check and try.</div>
    <form (ngSubmit)="!forgotForm.invalid && updatePassword()" #forgotForm="ngForm">
        <div class="form-group">
            <label for="loginId">Login ID</label>
            <input type="text" class="form-control" name="loginId" placeholder="Enter Login ID" required="required"
                [(ngModel)]="loginId">
        </div>
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" class="form-control" name="newPassword" placeholder="Enter New Password"
                required="required" [(ngModel)]="newPassword">
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm New Password</label>
            <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm New Password"
                required="required" [(ngModel)]="confirmPassword" pattern="{{newPassword}}">
        </div>

        <button type="submit" class="btn btn-success">Update Password</button>
    </form>
</div>